<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Multi-Platform Suite" parallel="tests" thread-count="2">

       <listeners>
              <listener class-name="utils.AllureTestNGListener"/>
       </listeners>

       <!--    <test name="Web Tests">-->
       <!--        <parameter name="configFile" value="config_web.properties"/>-->
       <!--        <classes>-->
       <!--            <class name="runners.TestRunner"/>-->
       <!--             Add web test classes -->
       <!--        </classes>-->
       <!--    </test>-->

       <!--    <test name="Mobile Tests">-->
       <!--        <parameter name="configFile" value="config_mobile.properties"/>-->
       <!--        <classes>-->
       <!--            <class name="runners.TestRunner"/>-->
       <!--             Add mobile test classes -->
       <!--        </classes>-->
       <!--    </test>-->

       <!--    <test name="API Tests">-->
       <!--        <parameter name="configFile" value="config_api.properties"/>-->
       <!--        <classes>-->
       <!--            <class name="runners.TestRunner"/>-->
       <!--             Add API test classes -->
       <!--        </classes>-->
       <!--    </test>-->
       <test name="Web Tests">
              <parameter name="configFile" value="config/config_web.properties"/>
              <classes>
                     <class name="runners.TestRunner"/>
              </classes>
       </test>

       <test name="API Tests">
              <parameter name="configFile" value="config/config_api.properties"/>
              <classes>
                     <class name="runners.TestRunner"/>
              </classes>
       </test>

</suite>
